{% extends 'base.html.twig' %}

{% block title %}{{parent()}}{% endblock %}

{% block body %}

   <div class="new-post">
      <div>
      <h2>Quer fazer uma nova postagem?
      </h2>
      {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
      {{form(form)}}
      {% else %}
      <p> Faça <a href="/login">login</a> para postar </p>
      {% endif %}
      </div>
   </div>

   {% for post in posts %}
   <div class="post">
         <a href="{{path('postDetails', {id:post.id})}}"><h5>Ver o post {{post.id}} inteiro</h5></a>
         <div class="post-title">
            <h1>{{post.title}}
            </h1>
         </div>
   
         <div class="post-dateUser">
            <p>{{post.type}}
            </p>
            <p>Postado em {{post.creation_date|date}} por {{post.user_username}}
            </p>
         </div>
         
         <div>
            <div class="post-description">
               <p>{{post.description}}
               </p>
            </div><br>
            <div class="img">
               {% if post.file != null %}
                  <div class="post-img">
                  <img class="post-img" src="{{asset ('uploads/files/' ~ post.file)}}" >
                  </div>
               {% endif %}
            </div>
         </div>
   </div>
   {% endfor %}
   </tbody>
</table>

{% endblock %}
